 body {
     background-color: blue;
     font-family: 'Shadows Into Light', 'Times New Roman', Times, serif;
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0DR658c88UA8QoawUM-7d3NHj_oEVru4B0Q&s);
     background-size: cover;
     height: 10px;

 }

 button {
     font-family: 'Shadows Into Light', 'Times New Roman', Times, serif;
     border-radius: 10px;
 }

 button:active {
     box-shadow: inset 0 0 8px white;
 }

 .horse {
     color: olivedrab;
     justify-content: center;
     display: flex;
     font-family: 'Shadows Into Light', 'Times New Roman', Times, serif;
 }



 .buttons {
     justify-content: center;
     text-align: center;
     display: flex;
 }

 .buttons_2 {
     justify-content: center;
     text-align: center;
     display: flex;
 }

 .all button {
     background-color: chartreuse;
 }

 .all:active button {
     box-shadow: inset 0 0 8px white;
 }

 .byt button {
     background-color: chartreuse;

 }

 .byt:active button {
     box-shadow: inset 0 0 8px white;
 }

 .books button {
     background-color: chartreuse;

 }

 .books:active button {
     box-shadow: inset 0 0 8px white;
 }

 .clothes button {
     background-color: chartreuse;

 }

 .clothes:active button {
     box-shadow: inset 0 0 8px white;
 }

 #colors {
     display: none;
     justify-content: center;
     text-align: center;
     flex-direction: row;
 }

 #buttoncolors {
     background-color: mediumvioletred;
 }

 .colors:active button {
     box-shadow: inset 0 0 8px white;
 }

 #vid {
     display: flex;
     justify-content: center;
 }

 #vid1 {
     background-color: darkred;
     display: none;
 }

 .buttons {
     display: flex;
     justify-content: center;
 }

 .Washing {
     background-color: chocolate;
     display: none;
 }

 .Washing:active {
     box-shadow: inset 0 0 8px white;
 }

 .Fridge {
     background-color: chocolate;
     display: none;
 }

 .Fridge:active {
     box-shadow: inset 0 0 8px white;
 }

 .Captain {
     background-color: chocolate;
     display: none;
 }

 .Captain:active {
     box-shadow: inset 0 0 px white;
 }

 .numberbook {
     background-color: chocolate;
     display: none;
 }

 .numberbook:active {
     box-shadow: inset 0 0 8px white;
 }


 .Nike {
     background-color: chocolate;
     display: none;
 }

 .Nike:active {
     box-shadow: inset 0 0 8px white;
 }

 .Adidas {
     background-color: chocolate;
     display: none;
 }

 .a {
     display: none;
     color: black
 }

 .b {
     display: none;
     color: black
 }

 .c {
     display: none;
     color: black
 }

 .d {
     display: none;
     color: black
 }

 .e {
     display: none;
     color: black
 }

 .f {
     display: none;
     color: black
 }

 .description {
     display: flex;
     justify-content: center;
     text-align: center;
 }

 #employeeparent {
     display: flex;
     flex-direction: column;
     height: 300px;
     align-items: flex-start;
 }

 #employee {
     margin-top: auto;
     background-color: midnightblue;
     color: white;
 }


 .table {
     display: none;
 }

 .password {
     display: none;
 }

 #black {
     display: none;
     background-color: black;
     color: white;
 }

 #white {
     display: none;
     background-color: white;
     color: black;
 }

 .colors2 {
     display: flex;
     justify-content: center;
 }

 #vids {
     display: flex;
     justify-content: center;
 }

 #roman {
     display: none;
     background-color: lightcoral;
 }

 #povest {
     display: none;
     background-color: peru;

 }